bandit==1.9.4
colorama==0.4.6
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.2
pikepdf==10.9.1
pillow==12.2.0
Pygments==2.20.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PyQtChart==5.15.7
PyQtChart-Qt5==5.15.2
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
PyYAML==6.0.3
QDarkStyle==3.2.3
QtPy==2.4.3
rich==15.0.0
ruff==0.16.2
shiboken6==6.11.1
stevedore==5.9.0
